@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #ddcde1;
  --secondary-color: rgb(167, 138, 237);
  --tertiary-color: rgb(125, 98, 234);
  --black: #000000;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font-1: "Roboto", sans-serif;
  --header-font-2: "Open Sans", sans-serif;
  --header-font-3: "Montserrat", sans-serif;
  --header-height: 60px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--header-font-2);
}

body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: var(--primary-color);
}
body::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

body {
  min-height: 1500vh;
  background-color: beige;
  overflow-x: hidden;
}

.header-container {
  position: fixed;
  height: var(--header-height);
  width: 100%;
  padding: 16px 60px 12px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 11;
}

.logo {
  margin-left: 20%;
  margin-right: 20%;
  transition: font-size 0.2s;
  font-size: 26px;
}

.small-r {
  font-size: 8px;
}

.logo:hover {
  font-size: 28px;
  color: var(--tertiary-color);
}

.logo a {
  color: var(--black);
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  white-space: nowrap;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-bar li {
  list-style: none;
  margin: 0 16px;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
}

.nav-links a {
  color: var(--black);
  font-weight: 700;
  font-size: 1rem;
  margin-right: 10px;
  letter-spacing: 1px;
  text-decoration: none;
}

.nav-links a:hover {
  color: var(--tertiary-color);
}
.sidebar-btn {
  position: absolute;
  top: 18px;
  left: 20px;
  cursor: pointer;
  user-select: none;
}
.sidebar-btn div {
  width: 24px;
  height: 3px;
  margin: 5px;
  background-color: var(--black);
  transition: all 0.2s ease;
}

.sidebar-btn:hover .line1 {
  background-color: var(--tertiary-color);
}

.sidebar-btn:hover .line2 {
  background-color: var(--tertiary-color);
}

.sidebar-btn:hover .line3 {
  background-color: var(--tertiary-color);
}
.banner-container {
  position: relative;
  top: var(--header-height);
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.banner-content {
  display: flex;
  margin: auto;
}

.banner-content li {
  height: 30px;
  list-style: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 10px;
}

.banner-content li:hover {
  background-color: var(--tertiary-color);
  border-radius: 5%;
}

.banner-content li a {
  color: var(--white);
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 10px;
}

.banner-content li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5%;
  transition: opacity 0.3s ease;
  opacity: 0;
  z-index: -1;
}

.banner-content li:hover a::before {
  opacity: 1;
}

.toggle-line1 {
  transform: rotate(45deg) translate(5px, 6px);
}
.toggle-line2 {
  opacity: 0;
}
.toggle-line3 {
  transform: rotate(-45deg) translate(5px, -6px);
}

@media (max-width: 601px) {
  .banner-container {
    display: none;
  }
  .nav-bar {
    display: none;
  }
  body {
    justify-content: center;
  }
  .logo {
    margin: auto;
    font-size: 24px;
  }
  .logo:hover {
    font-size: 26px;
  }
}

@media (max-width: 280px) {
  .logo {
    font-size: 20px;
    position: absolute;
    top: 9px;
    left: 40px;
  }
  .logo:hover {
    font-size: 21px;
  }
}

/* ===============================breakpoint==================================*/

.sidebar-container {
  position: fixed;
  top: var(--header-height);
  left: 0;
  height: 80vh;
  width: 50%;
  background-color: var(--tertiary-color);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  text-wrap: nowrap;
  transform: translateX(-15%);
}

.sidebar-container li {
  list-style: none;
}
.sidebar-container a {
  text-decoration: none;
}

.sidebar-header {
  height: 50px;
  padding: 16px 60px 12px;
  background-color: var(--tertiary-color);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.sidebar-tab-categories-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 20%;
  margin-right: 20%;
}

.sidebar-tab-categories-links a {
  color: var(--white);
  margin-right: 40px;
  font-size: 1.2rem;
}

.sidebar-main-tabs .service-tab,
.sidebar-main-tabs .about-tab {
  display: none;
}
