@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #ddcde1;
  --secondary-color: rgb(167, 138, 237);
  --tertiary-color: rgb(125, 98, 234);
  --black: #000000;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font-1: "Roboto", sans-serif;
  --header-font-2: "Open Sans", sans-serif;
  --header-font-3: "Montserrat", sans-serif;
  --header-height: 60px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--header-font-2);
}

body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: var(--primary-color);
}
body::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

body {
  min-height: 100vh;
  background-color: beige;
  overflow-x: hidden;
}

.header-container {
  position: fixed;
  height: var(--header-height);
  width: 100%;
  padding: 16px 60px 12px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 11;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  margin-left: 20%;
  margin-right: 20%;
  width: 100px;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--black);
  transition: font-size 0.2s;
}

.small-r {
  font-size: 8px;
}

.logo:hover {
  font-size: 28px;
  color: var(--tertiary-color);
}

.logo a {
  text-decoration: none;
  white-space: nowrap;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-bar li {
  list-style: none;
  margin: 0 16px;
  white-space: nowrap;
  overflow: hidden;
}

.nav-links a {
  color: var(--black);
  font-weight: 700;
  font-size: 1rem;
  margin-right: 10px;
  letter-spacing: 1px;
  text-decoration: none;
}

.nav-links a:hover {
  color: var(--tertiary-color);
}
.sidebar-btn {
  position: absolute;
  top: 18px;
  left: 20px;
  cursor: pointer;
  user-select: none;
}
.sidebar-btn div {
  width: 24px;
  height: 3px;
  margin: 5px;
  background-color: var(--black);
  transition: all 0.2s ease;
}

.sidebar-btn:hover .line1 {
  background-color: var(--tertiary-color);
}

.sidebar-btn:hover .line2 {
  background-color: var(--tertiary-color);
}

.sidebar-btn:hover .line3 {
  background-color: var(--tertiary-color);
}
.banner-container {
  position: relative;
  top: var(--header-height);
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  white-space: nowrap;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.banner-content {
  display: flex;
  margin: auto;
}

.banner-content li {
  height: 30px;
  list-style: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 10px;
}

.banner-content li:hover {
  background-color: var(--tertiary-color);
  border-radius: 5%;
}

.banner-content li a {
  color: var(--white);
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 10px;
}

.banner-content li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5%;
  transition: opacity 0.3s ease;
  opacity: 0;
  z-index: -1;
}

.banner-content li:hover a::before {
  opacity: 1;
}

.toggle-line1 {
  transform: rotate(45deg) translate(5px, 6px);
}
.toggle-line2 {
  opacity: 0;
}
.toggle-line3 {
  transform: rotate(-45deg) translate(5px, -6px);
}

/* ===============================breakpoint==================================*/

.sidebar-container {
  position: fixed;
  top: var(--header-height);
  max-height: calc(100vh - var(--header-height));
  left: 0;
  width: 32rem;
  text-wrap: nowrap;
  transform: translateX(-520px);
  transition: 0.2s ease;
}

.sidebar-container li {
  list-style: none;
}
.sidebar-container a {
  text-decoration: none;
}

.sidebar-toggle-active {
  transform: translateX(-45px);
}

.sidebar-header {
  position: relative;
  height: 50px;
  padding: 16px 60px 12px;
  background-color: var(--tertiary-color);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.sidebar-tab-categories-links {
  display: flex;
  flex-direction: row;
  z-index: 2;
}
.sidebar-tab-categories-links li {
  transition: all 0.2s ease;
}

.sidebar-tab-categories-links li:hover {
  transform: translateY(-5px);
}

.sidebar-tab-categories-links button {
  color: var(--white);
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 40px;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 500;
}

#product-button {
  color: var(--black);
}

.sidebar-content {
  position: relative;
  z-index: 1;
}

.sidebar-main-tabs {
  display: flex;
  flex-direction: column;
  height: 80vh;
  padding-top: 65px;
  padding-left: 100px;
  padding-bottom: 20;
  background-color: var(--tertiary-color);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  transform: translateY(-50px);
  overflow-y: auto;
}

.sidebar-main-tabs li {
  flex-grow: 1;
  margin-top: 20px;
}

.sidebar-main-tabs li a {
  color: var(--white);
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 600;
}

.sidebar-main-tabs li a:hover {
  color: var(--black);
}

.sidebar-main-tabs .service-tab,
.sidebar-main-tabs .about-tab {
  display: none;
}

/*=============================Main-Breakpoint===================================*/

.main-wrapper {
  max-width: 100%;
  min-width: auto;
  margin-top: calc(var(--header-height));
  height: 100vh;
}

.main-container {
  padding-left: 40px;
  padding-right: 40px;
}

/*=============================Footer-Breakpoint===================================*/
.to-the-top-btn {
  position: fixed;
  bottom: 40px;
  right: 0px;
  margin: 5px;

  background-color: darkgrey;
  z-index: 3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}
.to-the-top-btn:hover {
  background-color: grey;
}

.to-the-top-btn a {
  color: var(--black);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 50px 40px;
}

.footer-wrapper {
  max-width: 100%;
  min-width: auto;
}

.footer-container {
  background-color: var(--tertiary-color);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  text-wrap: nowrap;
}

.footer-services {
  display: flex;
  justify-content: space-between;
  text-wrap: nowrap;
}

.footer-content .footer-service,
.footer-content .footer-about {
  margin: 40px;
  color: var(--black);
  justify-content: flex-start;
}
.footer-content h4 {
  font-size: 1.2rem;
  font-weight: 700;
}

.footer-content ul {
  list-style: none;
}

.footer-content li {
  margin: 10px 0 10px 0;
}

.footer-content li a {
  color: var(--black);
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700;
  transition: all 0.1s;
}
.footer-content li a:hover {
  color: var(--white);
}
.footer-logo {
  position: relative;
  margin-top: 130px;
  margin-right: 200px;
  font-size: 40px;
  font-weight: 700;
}

.footer-logo .copyright {
  position: relative;
  font-size: 0.8rem;
}
/*=============================At-Breakpoint===================================*/
@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

@media (max-width: 601px) {
  .banner-container {
    display: none;
  }
  .nav-bar {
    display: none;
  }
  body {
    justify-content: center;
  }
  .logo {
    margin: auto;
    font-size: 24px;
  }
  .logo:hover {
    font-size: 26px;
  }

  .sidebar-container {
    position: fixed;
    align-items: center;
    justify-content: center;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-600px);
  }
  .sidebar-toggle-active {
    transform: translateX(0px);
  }
}

@media (max-width: 280px) {
  .logo {
    font-size: 20px;
    position: absolute;
    top: 9px;
    left: 40px;
  }
  .logo:hover {
    font-size: 21px;
  }
}
